<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <title>Campaigns App</title>
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="csrftoken" id="csrftoken" content="{{ csrf_token }}">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    </head>
    <body>
        {% block main %}{% endblock %}
    </body>
</html>
